# Node / Angular
node_modules
dist
.angular
# Java / Spring
target
.mvn/wrapper/maven-wrapper.jar
# OS/IDE
.DS_Store
.idea
.vscode

# secrets
.env
**/.env
*.env
springboot-backend/.env

# secrets
.env
**/.env
*.env
springboot-backend/.env
# archives
*.zip
